.taskboard_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-16);
  padding: var(--space-24);
  overflow-y: hidden;
}

.taskboard_title {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
}

.taskboard_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskboard_content {
  width: 100%;
  height: calc(100% - 85px);
  display: flex;
  flex-direction: column;
  row-gap: var(--space-20);
  overflow-y: hidden;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.overview_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-20);
  overflow-y: hidden;
}
