.datepicker_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: var(--space-8);
}

.datepicker_label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker_label {
  font-weight: var(--font-weight-600);
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color-primary);
}

.datepicker_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid var(--gray-4);
  border-radius: 4px;
  margin: 0;
  color: var(--text-color-primary);
  outline: none;
  height: 32px;
  padding: var(--space-8);
}

.datepicker_input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.datepicker_wrapper {
  width: 320px;
  position: relative;
}

.datepicker_error {
  color: var(--danger-shade-1);
  font-size: 14px;
  line-height: 20px;
  border: 1px solid var(--danger-shade-1);
}

.error_text {
  font-size: var(--font-size-12);
  color: var(--danger-shade-1);
}
