.modal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-8);
  padding: var(--space-24);
}

.dropdown_trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--space-8);
  border: 1px solid var(--gray-3);
  border-radius: var(--border-radius-4);
  cursor: pointer;
  font-size: var(--font-size-14);
}

.dropdown_trigger:hover {
  box-shadow: var(--box-shadow-flat);
}

.dropdown_container {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-8);
}

.dropdown_value {
  display: flex;
  align-items: center;
  column-gap: var(--space-4);
}

.dropdown_value > label {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
}

.dropdown_value > :last-child {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
}

.dropdown_label {
  font-weight: var(--font-weight-600);
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color-primary);
}
