.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.taskboard_tableContainer {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.header_container {
  width: 100%;
  display: flex;
  column-gap: var(--space-16);
}

.iconSort {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.actionBtn {
  display: flex;
  column-gap: var(--space-12);
}

.modal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-8);
  padding: var(--space-24);
}

.task_name_description {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);
  color: var(--text-color-secondary);
}

.overflow {
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task_name_description > :first-child {
  font-weight: var(--font-weight-600);
}

.emptyState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-8);
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary);
  font-size: var(--font-size-14);
}
