.kl-button-container {
  display: flex;
  align-items: center;
  height: fit-content;
  border-radius: 4px;
  white-space: nowrap;
}

.kl-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-8);
  padding: 6px var(--space-8);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  box-shadow: none;
  line-height: 20px;
  height: 32px;
}

.kl-button-fullWidth {
  width: 100%;
}

.kl-button-icon-only {
  padding: var(--space-8);
}

.kl-button-small {
  height: 24px;
}

.kl-button-small.kl-button-icon-only {
  padding: var(--space-8) var(--space-4);
}

.kl-button-default-split,
.kl-button-subtle-split,
.kl-button-primary-split,
.kl-button-success-split,
.kl-button-warning-split,
.kl-button-danger-split,
.kl-button-subtleSecondary-split,
.kl-button-outline-split,
.kl-button-default-split-disabled,
.kl-button-subtle-split-disabled,
.kl-button-primary-split-disabled,
.kl-button-success-split-disabled,
.kl-button-warning-split-disabled,
.kl-button-danger-split-disabled,
.kl-button-link-split-disabled,
.kl-button-subtleLink-split-disabled {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.kl-button-primary,
.kl-button-primary:disabled.kl-button-primary:hover {
  background-color: var(--primary-base);
  border: none;
  border: 1px solid #3739bd;
  color: white;
}

.kl-button-primary-split,
.kl-button-primary-split-disabled {
  background-color: var(--primary-base);
  border: 1px solid #3739bd;
  border-left: none;
  color: white;
}

.kl-button-primary svg,
.kl-button-primary-split svg,
.kl-button-primary-split-disabled svg,
.kl-button-success svg,
.kl-button-success-split svg,
.kl-button-success-split-disabled svg,
.kl-button-warning svg,
.kl-button-warning-split svg,
.kl-button-warning-split-disabled svg,
.kl-button-danger svg,
.kl-button-danger-split svg,
.kl-button-danger-split-disabled svg {
  fill: #fff;
}

.kl-button-primary:hover,
.kl-button-primary-split:hover {
  background-color: #3739bd;
  border: 1px solid #3739bd;
}

.kl-button-primary:focus,
.kl-button-primary:active,
.kl-button-default:focus,
.kl-button-default:active,
.kl-button-subtle:focus,
.kl-button-subtle:active,
.kl-button-success:focus,
.kl-button-success:active,
.kl-button-warning:focus,
.kl-button-warning:active,
.kl-button-danger:focus,
.kl-button-danger:active,
.kl-button-link:focus,
.kl-button-link:active,
.kl-button-subtleLink:focus,
.kl-button-subtleLink:active,
.kl-button-subtleSecondary:focus,
.kl-button-subtleSecondary:active,
.kl-button-outline:focus,
.kl-button-outline:active,
.kl-button-default-split:focus,
.kl-button-subtle-split:focus,
.kl-button-primary-split:focus,
.kl-button-success-split:focus,
.kl-button-warning-split:focus,
.kl-button-danger-split:focus,
.kl-button-default-split:active,
.kl-button-subtle-split:active,
.kl-button-primary-split:active,
.kl-button-success-split:active,
.kl-button-warning-split:active,
.kl-button-danger-split:active,
.kl-button-outline-split:active {
  box-shadow: 0 0 0 2px #d6d1ff;
}

.kl-button-primary:disabled,
.kl-button-default:disabled,
.kl-button-subtle:disabled,
.kl-button-subtleLink:disabled,
.kl-button-success:disabled,
.kl-button-warning:disabled,
.kl-button-danger:disabled,
.kl-button-link:disabled,
.kl-button-outline:disabled,
.kl-button-default-split-disabled,
.kl-button-subtle-split-disabled,
.kl-button-primary-split-disabled,
.kl-button-success-split-disabled,
.kl-button-warning-split-disabled,
.kl-button-danger-split-disabled,
.kl-button-link-split-disabled,
.kl-button-subtleLink-split-disabled,
.kl-button-outline-split:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.kl-button-default,
.kl-button-default:disabled.kl-button-default:hover {
  background-color: #f5f5f7;
  border: 1px solid #e1e1e3;
  color: var(--text-color-title);
}

.kl-button-default-split,
.kl-button-default-split-disabled {
  background-color: #f5f5f7;
  border: 1px solid #e1e1e3;
  border-left: none;
  color: var(--text-color-title);
}

.kl-button-default:hover,
.kl-button-default-split:hover {
  background-color: #e1e1e3;
}

.kl-button-subtle,
.kl-button-subtle:disabled.kl-button-subtle:hover {
  background-color: #fff;
  border: 1px solid #e1e1e3;
  color: var(--text-color-title);
}

.kl-button-subtle-split,
.kl-button-subtle-split-disabled {
  background-color: #fff;
  border: 1px solid #e1e1e3;
  border-left: none;
  color: var(--text-color-title);
}

.kl-button-subtle:hover,
.kl-button-subtle-split:hover {
  border: 1px solid #bababc;
}

.kl-button-success,
.kl-button-success:disabled.kl-button-success:hover {
  background-color: var(--success-base);
  border: 1px solid var(--success-shade-1);
  color: #fff;
}

.kl-button-success-split,
.kl-button-success-split-disabled {
  background-color: var(--success-base);
  border: 1px solid var(--success-shade-1);
  border-left: none;
  color: #fff;
}

.kl-button-warning,
.kl-button-warning:disabled.kl-button-warning:hover {
  background-color: var(--warning-base);
  border: 1px solid var(--warning-shade-1);
  color: #fff;
}

.kl-button-warning-split,
.kl-button-warning-split-disabled {
  background-color: var(--warning-base);
  border: 1px solid var(--warning-shade-1);
  border-left: none;
  color: #fff;
}

.kl-button-success:hover,
.kl-button-success-split:hover {
  border: 1px solid var(--success-shade-1);
  background-color: var(--success-shade-1);
}

.kl-button-warning:hover,
.kl-button-warning-split:hover {
  border: 1px solid var(--warning-shade-1);
  background-color: var(--warning-shade-1);
}

.kl-button-danger,
.kl-button-danger:disabled.kl-button-danger:hover {
  background-color: var(--danger-base);
  border: 1px solid var(--danger-shade-1);
  color: #fff;
}

.kl-button-danger-split,
.kl-button-danger-split-disabled {
  background-color: var(--danger-base);
  border: 1px solid var(--danger-shade-1);
  border-left: none;
  color: #fff;
}

.kl-button-danger:hover,
.kl-button-danger-split:hover {
  background-color: var(--danger-shade-1);
  border: 1px solid var(--danger-shade-1);
}

.kl-button-link {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--primary-base);
}

.kl-button-link:hover {
  text-decoration: underline;
}

.kl-button-link:focus {
  color: var(--primary-shade-1);
  text-decoration: underline;
}

.kl-button-subtleLink {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--text-color-title);
}

.kl-button-subtleLink:hover,
.kl-button-subtleLink:focus {
  text-decoration: underline;
}

.kl-button-subtleSecondary,
.kl-button-subtleSecondary-split,
.kl-button-outline,
.kl-button-outline-split,
.kl-button-subtleSecondary-split-disabled,
.kl-button-subtleSecondary:disabled.kl-button-subtleSecondary:hover,
.kl-button-outline-split-disabled,
.kl-button-outline:disabled.kl-button-outline:hover {
  background-color: #fff;
  border: 1px solid var(--primary-base);
  color: var(--primary-base);
}

.kl-button-subtleSecondary:hover,
.kl-button-subtleSecondary-split:hover {
  background-color: var(--primary-base);
  border: 1px solid var(--primary-base);
  color: #fff;
}

.kl-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  /* Need to confirm design icon and update */
  width: 14px;
  height: 14px;
}

button.kl-button-split {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.kl-button-split-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kl-button-primary-split .kl-button-split-icon svg {
  fill: var(--white);
}
