.kl-checkbox-container {
  display: flex;
  align-items: center;
  column-gap: var(--space-8);
  width: fit-content;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.kl-checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.kl-checkbox-default {
  width: 18px;
  height: 18px;
}

.kl-checkbox-small {
  width: 14px;
  height: 14px;
}

.kl-checkbox-default-tick,
.kl-checkbox-small-tick,
.kl-checkbox-default-dash,
.kl-checkbox-small-dash {
  position: absolute;
  border: none;
  z-index: 1;
}

.kl-checkbox-default-tick,
.kl-checkbox-small-tick {
  transform: rotate(-45deg);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.kl-checkbox-small-dash,
.kl-checkbox-default-dash {
  border-bottom: 2px solid #fff;
}

.kl-checkbox-wrapper > .kl-checkbox-default-tick {
  top: 8px;
  height: 6px;
  width: 10px;
}

.kl-checkbox-wrapper > .kl-checkbox-small-tick {
  height: 4px;
  width: 8px;
}

.kl-checkbox-wrapper > .kl-checkbox-default-dash {
  top: 7px;
  height: 6px;
  width: 10px;
}

.kl-checkbox-wrapper > .kl-checkbox-small-dash {
  top: 9px;
  height: 4px;
  width: 8px;
}

.kl-checkbox {
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px solid #cececf;
  border-radius: var(--space-4);
  cursor: pointer;
  z-index: 1;
}

.kl-checkbox:focus,
.kl-checkbox:hover,
.kl-checkbox:active {
  border: 2px solid #504ee4;
}

.kl-checkbox.kl-checkbox-error {
  border: 2px solid #ef3621;
}

.kl-checkbox-wrapper:focus-within {
  background-color: #f5f5f7;
  border-radius: var(--space-4);
}

.kl-checkbox.kl-checkbox-indeterminate,
.kl-checkbox:checked {
  -webkit-appearance: none;
  background-color: #504ee4;
  border: 2px solid #504ee4;
}

.kl-checkbox-label {
  color: var(--text-color-primary);
  font-size: 14px;
  line-height: 16px;
  white-space: normal;
}

.kl-checkbox-container.kl-checkbox-disabled,
.kl-checkbox-disabled * {
  cursor: not-allowed;
}

.kl-checkbox-disabled .kl-checkbox {
  background: #e1e1e3;
  border: 2px solid #e1e1e3;
}

.kl-checkbox-disabled .kl-checkbox-label {
  color: var(--text-color-disabled);
}
