@import "../src/common/styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: block;
}

*::-webkit-scrollbar-track {
  background: var(--gray-3);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-5);
  border-radius: 6px;
}
